<div class="essay-list-entry">

  <% @if disabled %>
  <h2 class="essay-title disabled"><% @var title %></h2>
  <% @else %>
  <h2 class="essay-title"><a href="<% @var url %>"><% @var title %></a></h2>
  <% @endif %>

  <span class="essay-original-title">Oryginał: <a href="<% @var orig-url %>"><%= @var orig-title %></a>
	<% @if orig-date %>
	<%= @var orig-date %> 
	<% @endif %>
	<br />
  </span>

  <% @if alt-translations %>
  <span class="alt-translations">Inne tłumaczenia:
	<%= (format nil "~{~{<a href=\"~A\">~A</a>~}~^, ~}.~%" @var alt-translations) %></span><br />
  <% @endif %>

  <% @if part-of-hnp %>
  <span class="part-of-hnp">Ten esej jest częścią książki <a href="http://helion.pl/ksiazki/hakerzy-i-malarze-wielkie-idee-ery-komputerow-paul-graham,hakmal.htm">"Hakerzy i malarze"</a> (<a href="http://paulgraham.com/hackpaint.html">oryginał angielski</a>).</span><br />
  <% @endif %>
n
  <% @if description %>
  <span class="description"><%= @var description %></span><br />
  <% @endif %>

  <% @if additional-html  %>
  <span class="additional-html"><%= @var additional-html %></span><br />
  <% @endif %>

</div>
