<div class="essay-list-entry">
<% (if disable-link (progn %> <h2 class="essay-title disabled"><%= essay-title %></h2>
<%) (progn %><h2 class="essay-title"><a href="<%= essay-url %>"><%= essay-title %></a></h2><% )) %> <%# progn, if #%>
<% (if creation-date (progn %><span class="creation-date"><%= creation-date %><span><br /><% )) %> <%# progn, if #%>
<span class="original-essay">Oryginał: <a href="<%= essay-orig-url %>"><%= essay-orig-title %></a></span><br />
<% (if orig-creation-date (progn %><span class="original-creation-date"><%= orig-creation-date %><span><br /><% )) %> <%# progn, if #%>
<% (if alternative-translations (progn %>Inne tłumaczenia:
<span class="alternative-translations"><%= (format nil "~{~{<a href=\"~A\">~A</a>~}~^, ~}.~%" alternative-translations) %></span><br />
<% )) %> <%# progn, if #%>
<% (if part-of-hnp %><span class="part-of-hnp">Ten esej jest częścią książki <a href="http://helion.pl/ksiazki/hakerzy-i-malarze-wielkie-idee-ery-komputerow-paul-graham,hakmal.htm">"Hakerzy i malarze"</a> (<a href="http://paulgraham.com/hackpaint.html">oryginał angielski</a>).</span><br /><% ) %> <%# endif #%>
<% (if additional-html (progn %>
<span class="additional-html"><%= additional-html %></span><br />
<% )) %> <%# progn, if #%>
</div>
