<div class="essay-detailed-entry">
  <h1 class="essay-title"><% @var title %></h1>
  
  <span class="essay-original-title">Oryginał: 
	<a href="<% @var orig-url %>"><% @var orig-title %></a>
	<% @if orig-date %>,
	  <% @var orig-date %>
	<% @endif %><br />
  </span>
  <% @if translators %>
  <span class="essay-translators">Tłumaczenie:
	<% @loop translators %>
	  <% @var translator %>
	<% @endloop %>
	
	<% @if date %>
	<span class="essay-creation-date">
	  <% @var date %>
	</span>
	<% @endif %>
	<br />
  </span>
  <% @endif %>

  <% @if editors %>
  <span class="essay-editors">Korekta:
	<% @loop editors %>
	  <% @var editor %>
	<% @endloop %>
	<br />
  </span>
  <% @endif %>

  <% @if alt-translations %>Inne tłumaczenia:
  <span class="alt-translations">
	<% @loop alt-translations %>
	<a href="<% @var url %>" ><% @var text %></a>
	<% @endloop %>
  </span><br />
  <% @endif %>

  <% @if part-of-hnp %><span class="part-of-hnp">Ten esej jest częścią książki <a href="http://helion.pl/ksiazki/hakerzy-i-malarze-wielkie-idee-ery-komputerow-paul-graham,hakmal.htm">"Hakerzy i malarze"</a> (<a href="http://paulgraham.com/hackpaint.html">oryginał angielski</a>).</span><br />
  <% @endif %>

</div>
