<% @include ../templates/common/standard-essay.html %>
<% (essay :id :hs) %>

<p id="p1"><em>(Napisałem to przemówienie dla liceum. W zasadzie nigdy go nie
wygłosiłem, ponieważ władze szkoły zawetowały plan zaproszenia mnie.)</em></p>

<p id="p2">Kiedy powiedziałem, że mam mówić w liceum, moi przyjaciele byli
ciekawi. Co powiesz licealistom? Zapytałem ich więc, co oni chcieliby
usłyszeć od kogoś będąc w liceum? Ich odpowiedzi były bardzo
podobne. Zamierzam więc powiedzieć wam to, co my wszyscy chcielibyśmy,
żeby ktoś nam kiedyś powiedział.</p>

<p id="p3">Zacznę od powiedzenia wam czegoś, czego nie musicie wiedzieć w liceum:
co chcecie zrobić ze swoim życiem.  Ludzie zawsze was o to pytają,
więc myślicie, że powinniście mieć na to odpowiedź. Jednakże dorośli
pytają o to głównie po to, żeby zacząć rozmowę. Chcą wiedzieć jakimi
osobami jesteście i to pytanie pada tylko po to, żebyście zaczęli
mówić. Pytają o to w taki sposób w jaki można szturchać kraba
pustelnika w basenie pływowym, żeby zobaczyć co zrobi.</p>

<p id="p4">Gdybym był z powrotem w liceum i ktoś zapytałby o moje plany,
odpowiedziałbym, że przede wszystkim chciałbym dowiedzieć się jakie są
opcje. Nie musicie się spieszyć, żeby wybrać swoje życiowe zajęcie. Co
musicie zrobić to odkryć, co lubicie. Musicie pracować nad czymś co
lubicie, jeśli chcecie być w tym dobrzy.</p>

<p id="p5">Może wydawać się, że nie ma nic prostszego niż zdecydowanie co
lubicie, ale to okazuje się trudne, po części dlatego, że ciężko jest
zdobyć dokładny obraz większości zawodów. Bycie lekarzem nie jest
takie jak pokazują w telewizji. Na szczęście możecie obserwować
prawdziwych lekarzy poprzez wolontariat w szpitalach<a name="MT_F1" href="#F1" class="footnote-link">1</a>.
<span class="footnote"><a name="F1" href="#MT_F1" class="footnote-link">1</a> Znajomy lekarz ostrzega, że nawet to może dać niedokładny
obraz. “Kto wiedział ile czasu to zajmie, jak mało autonomii ktoś
dostanie za niekończące się lata kształcenia, i jak niewiarygodnie
drażniące jest noszenie pagera?”</span></p>

<p id="p6">Ale są inne zawody, o których nie można się wiele dowiedzieć, ponieważ
nikt ich jeszcze nie wykonuje. Większość pracy, którą wykonałem w
ciągu ostatnich 10 lat nie istniała, kiedy byłem w liceum. Świat
zmienia się szybko i tempo, z którym się zmienia także wzrasta. W
takim świecie posiadanie konkretnych planów nie jest dobrym pomysłem.</p>

<p id="p7">A jednak każdego maja mówcy z całego kraju odpalają Standardową Mowę
na Zakończenie Liceum, której tematem jest: nie porzucajcie swoich
marzeń. Wiem, co mają na myśli, ale przedstawiają to w zły sposób,
ponieważ z tego wynika, że powinniście być ograniczeni planami, które
wcześniej sobie ułożyliście. Świat komputerów ma na to nazwę:
przedwczesna optymalizacja. I jest to synonim katastrofy. Ci mówcy
zrobili by lepiej, gdyby powiedzieli po prostu, nie poddawajcie się.</p>

<p id="p8">To, co oni na prawdę mają na myśli to: nie dajcie się
zdemoralizować. Nie myślcie, że nie możecie zrobić czegoś, co mogą
zrobić inni ludzie. I zgadzam się, że nie powinniście zaniżać swojego
potencjału. Ludzie, którzy dokonali wielkich rzeczy mają tendencję do
stwarzania wrażenia jakby pochodzili z innej planety. Większość
biografii jedynie wyolbrzymia tą iluzję. Po części przez pełne
uwielbienia podejście, w które biografowie nieuchronnie wpadają, po
trochu ponieważ, znając zakończenie historii, wygładzają opowieść, aż
zdaje się, że życie opisywanego człowieka było kwestią przeznaczenia,
jedynie odkryciem wrodzonego geniuszu. W rzeczywistości podejrzewam,
że jeśli chodzilibyście do szkoły z szesnastoletnim Szekspirem albo
Einsteinem, wydawaliby się oni imponujący, ale nie całkiem niepodobni
do reszty waszych przyjaciół.</p>

<p id="p9">Co jest niewygodną myślą. Gdyby byli dokładnie tacy jak wy, wtedy
musieliby pracować bardzo ciężko, żeby osiągnąć to, do czego doszli. I
to jest jeden powód dla którego lubimy wierzyć w geniuszy. To daje nam
wymówkę dla bycia leniwym. Jeśli ci ludzie byli zdolni do zrobienia
tego, co zrobili tylko poprzez jakąś magiczną szekspirowatość albo
einsteinowatość, to nie nasza wina, jeśli nie możemy zrobić czegoś tak
dobrego jak oni.</p>

<p id="p10">Nie mówię, że nie ma czegoś takiego jak geniusz. Ale jeśli próbujecie
wybrać pomiędzy dwiema teoriami i jedna daje wam wymówkę dla bycia
leniwym, druga jest prawdopodobnie prawdziwa.</p>

<p id="p11">Póki co przycięliśmy Standardowe Przemówienie na Zakończenie Liceum z
“nie rezygnujcie ze swoich marzeń” do “co ktoś może zrobić, wy także
możecie”. Ale to wciąż musi zostać przycięte. Jest <em>pewna</em> wariacja w
naturalnych zdolnościach. Większość ludzi przecenia jej rolę, ale ona
istnieje. Gdybym rozmawiał z facetem, który ma 122 centymetry wzrostu,
a jego ambicją jest granie w NBA, czułbym się dość głupio mówiąc, że
może osiągnąć wszystko, jeśli tylko mocno się postara.<a name="MT_F2" href="#F2" class="footnote-link">2</a><span class="footnote"><a name="F2" href="#MT_F2" class="footnote-link">2</a>Jego najlepszym zagraniem prawdopodobnie byłoby zostanie
dyktatorem i zastraszenie NBA, żeby pozwolili mu grać. Póki co,
najbliżej do tych uprawnień ma osoba pełniąca urząd Sekretarza Pracy.</span></p>

<p id="p12">Musimy skrócić standardowe przemówienie do „co ktoś inny z waszymi
zdolnościami może zrobić, wy też możecie; nie zaniżajcie oceny swoich
możliwości.” Ale, jak to tak często się zdarza, im bardziej zbliżamy
się do prawdy, tym bardziej nieuporządkowane zdanie
powstaje. Wzięliśmy ładny, zgrabny (ale mylny) slogan i wzburzyliśmy
go jak kałużę błota. Nie tworzy on już dłużej bardzo dobrej mowy. Ale
wciąż, gorsze jest to, że nie mówi ci już, co robić. Ktoś z twoimi
zdolnościami? Jakie są Twoje zdolności?</p>

<h3>Pod wiatr</h3>

<p id="p13">Myślę, że rozwiązaniem jest praca w przeciwnym kierunku. Zamiast
pracować wstecz od celu, pracujcie naprzód, wychodząc z obiecujących
sytuacji. Tak w każdym razie robią ludzie osiągający największe
sukcesy.</p>

<p id="p14">W podejściu z przemowy, decydujecie, gdzie będziecie za dwadzieścia
lat, a potem pytacie: co powinniście zrobić, żeby się tam dostać?
Proponuje, żebyście zamiast zobowiązywać się do czegoś w przyszłości,
spojrzeli na dostępne obecnie opcje i wybrali te, które dadzą wam
potem najbardziej obiecujący wachlarz możliwości.</p>

<p id="p15">To nie jest takie ważne nad czym pracujecie, tak długo jak nie
tracicie swojego czasu. Pracujcie nad rzeczami, które was interesują i
zwiększajcie swoje opcje, martwcie się później, które wybierzecie.</p>

<p id="p16">Przypuśćmy, że jesteście studentami pierwszego roku zastanawiającymi
się nad wyborem specjalizacji z matematyki lub ekonomii. Cóż,
matematyka da wam więcej możliwości: możecie iść praktycznie w każdą
dziedzinę matematyki. Jeśli będziecie specjalizować się w matematyce,
łatwo będzie wam dostać się na studia magisterskie z ekonomii, ale
jeśli waszą specjalizacją będzie ekonomia, będzie wam ciężko dostać
się na studia magisterskie z matematyki.</p>

<p id="p17">Latanie szybowcem jest tutaj dobrą metaforą. Ponieważ szybowiec nie ma
silnika, nie możesz lecieć pod wiatr nie tracąc zbyt dużo
wysokości. Jeśli lecąc z wiatrem, oddalicie się od dobrych miejsc do
lądowania, wasze możliwości zawężają się niekomfortowo.  Z zasady,
chcecie pozostać pod wiatr. Proponuję, więc to jako zamiennik dla „nie
porzucajcie swoich marzeń”. Pozostańcie pod wiatr.</p>

<p id="p18">Jednakże, jak tego dokonać? Nawet jeśli matematyka jest „pod wiatr” w
stosunku do ekonomii, jak możecie to wiedzieć w liceum?</p>

<p id="p19">Cóż, nie wiecie, i to jest to, czego musicie się dowiedzieć. Szukajcie
mądrych ludzi i ciężkich problemów. Mądrzy ludzie mają skłonności do
trzymania się razem i jeśli możecie znaleźć takie skupisko,
przyłączenie się jest prawdopodobnie wartościowe. Nie jest prosto ich
znaleźć, ponieważ wielu ludzi podszywa się pod nich.</p>

<p id="p20">Dla świeżo przybyłego studenta, wszystkie katedry uniwersytetu
wyglądają w gruncie rzeczy tak samo. Wszyscy profesorowie wydają się
nieprzystępnie inteligentnymi i publikującymi prace niezrozumiałe dla
ludzi z zewnątrz. Ale podczas gdy w niektórych dziedzinach prace są
niezrozumiałe, ponieważ są pełne trudnych pomysłów, inne są celowo
napisane w niejasny sposób, żeby zdawało się, że mówią coś ważnego. To
może wydawać się skandaliczną propozycją, ale zostało sprawdzone
doświadczalnie, w słynnej aferze <em>Social Text</em>. Podejrzewając, że prace
opublikowane przez teoretyków literatury były często inteligentnie
brzmiącym stekiem bzdur, pewien fizyk celowo napisał pracę pełną
inteligentnie brzmiących bzdur i zgłosił to do czasopisma naukowego z
dziedziny teorii literatury, które ją opublikowało.</p>

<p id="p21">Najlepszą ochroną jest zawsze pracowanie nad ciężkimi
problemami. Pisanie powieści jest ciężkie, czytanie ich - nie. Ciężkie
oznacza zmartwienie: jeśli się nie martwicie, że to co robicie źle
wyjdzie albo, że nie będziecie w stanie zrozumieć czegoś, czego się
uczycie, to nie jest to dostatecznie ciężkie. Musi być suspens.<a name="MT_TF1" href="#TF1" class="translator-footnote footnote-link">T1</a>
<span class="footnote translator"><a name="TF1" href="#MT_TF1" class="translator-footnote footnote-link">T1</a>Suspens - zabieg narracyjny polegający na chwilowym wstrzymaniu biegu akcji celem wzmożenia napięcia lub zaskoczenia widza jej niespodziewanym zwrotem. Porównaj, <a href="http://pl.wikipedia.org/wiki/Suspens">definicja na Wikipedii</a> oraz w <a href="http://sjp.pwn.pl/slownik/2576668/suspens">słowniku języka polskiego</a>. <em>przypis tłumacza</em></span></p>

<p id="p22">Cóż, możecie myśleć, że jest to ponura wizja świata. Mówię wam, że
powinniście się martwić? Tak, ale nie jest to tak złe jak się
wydaje. Pokonywanie obaw jest radosne. Nie widzicie twarz ludzi
bardziej szczęśliwych niż tych, którzy wygrywają złote medale. I
wiecie dlaczego są tacy szczęśliwi? Ulga.</p>

<p id="p23">Nie mówię, że to jest jedyna droga do szczęścia. Tylko pewne rodzaje
zmartwień nie są tak złe jak się wydają.</p>

<h3>Ambicja</h3>

<p id="p24">W praktyce, „pozostańcie pod wiatr” redukuje się do “pracujcie nad
ciężkimi problemami”. I możecie zacząć już dzisiaj. Sam chciałbym
rozumieć to w liceum.</p>

<p id="p25">Większość ludzi lubi być dobrym w tym, co robi. W tak zwanym
prawdziwym świecie ta potrzeba jest potężną siłą. Ale większość
licealistów rzadko odnosi z tego korzyści, ponieważ daje się im
nieprawdziwe rzeczy do robienia. Kiedy byłem w liceum, pozwoliłem
sobie uwierzyć, że moim zadaniem (pracą) jest bycie uczniem
liceum. Więc pozwoliłem mojej potrzebie bycia dobrym w tym, co robiłem
zostać zaspokojoną tylko poprzez dobre wyniki w szkole.</p>

<p id="p26">Gdybyście zapytali mnie w liceum jaka jest różnica pomiędzy
licealistami, a dorosłymi odpowiedziałbym, że dorośli muszą zarabiać
na życie. Pomyłka. Różnica jest taka, że dorośli muszą ponosić
odpowiedzialność za siebie. Zarabianie na życie jest jedynie małą
częścią tego. O wiele ważniejszą jest branie intelektualnej
odpowiedzialności za siebie.</p>

<p id="p27">Gdybym musiał ponownie przejść przez liceum, traktowałbym je jak pracę
na etat. Nie mam na myśli, że byłbym opieszały w szkole. Pracowanie
nad czymś na etacie nie oznacza robienia tego źle. Znaczy to, że nie
jest się określonym przez tą pracę. Chodzi mi o to, że nie myślałbym o
sobie jako o licealiście, tak jak muzyk pracujący jako kelner nie
myśli o sobie jako o kelnerze<a name="MT_F3" href="#F3" class="footnote-link">3</a>.<span class="footnote"><a name="F3" href="#MT_F3" class="footnote-link">3</a>Praca na etat to taka, którą bierzesz, żeby opłacić rachunki i móc
robić rzeczy, które na prawdę chcesz, jak granie w zespole czy
wynalezienie teorii względności.<br /><br />

Dla niektórych uczniów traktowanie liceum jako pracę na etat może
zasadniczo uczynić łatwiejszym zdobywanie dobrych stopni. Jeśli
traktujecie swoje zajęcia jak grę, nie poczujecie się zdemoralizowani,
jeśli będą wydawały się bez sensu.<br /><br />

Jakkolwiek złe są wasze zajęcia, musicie otrzymać dobre stopnie, żeby
dostać się na porządny uniwersytet. I to <em>jest</em> warte wysiłku, ponieważ
uniwersytety są w dzisiejszych czasach miejscami, gdzie znajduje się
dużo skupisk mądrych ludzi.</span> I kiedy nie zajmowałbym się moją
etatową pracą, próbowałbym robić prawdziwą pracę.</p>

<p id="p28">Kiedy pytam ludzi, czego najbardziej żałują z czasów liceum, prawie
wszyscy mówią to samo: że zmarnowali tyle czasu. Jeśli zastanawiacie
się, co robicie teraz, czego będziecie najbardziej żałowali później,
to prawdopodobnie tego<a name="MT_F4" href="#F4" class="footnote-link">4</a>.</p>

<p id="p29">Niektórzy mówią, że to nieuniknione – licealiści nie są jeszcze zdolni
do zrobienia czegokolwiek. Nie uważam tego za prawdziwe. Dowodem jest
to, że jesteście znudzeni. Prawdopodobnie nie byliście znudzeni, kiedy
mieliście osiem lat. Kiedy ma się osiem lat mówi się na to „zabawa” a
nie „spędzanie wolnego czasu”, ale jest to tym samym. Kiedy miałem
osiem lat, rzadko byłem znudzony. Dajcie mi boisko i parę innych
dzieci i mógłbym grać cały dzień.</p> <span class="footnote"><a name="F4" href="#MT_F4" class="footnote-link">4</a>Drugą rzeczą, której najbardziej się żałuje jest przesadne dbanie
o nieistotne rzeczy. A w szczególności o to, co myśleli o nich inni.<br /><br />

Myślę, że tym, co oni na prawdę mają na myśli, w drugim przypadku,
było dbanie o to, co myślą o nich losowe osoby. Dorośli dbają tak samo
o to, co inni ludzie myślą, ale są bardziej selektywni jeśli chodzi o
innych ludzi.<br /><br />

Mam około 30 przyjaciół, na których opinii mi zależy, a opinia reszty
świata praktycznie nie ma na mnie wpływu. Problemem w liceum jest to,
że Twoi rówieśnicy są wybierani raczej przypadkowo, na podstawie wieku
i geografii, a nie na podstawie twojego szacunku dla ich oceny.</span>

<p id="p30">Powodem, dla którego to stało się nieaktualne w gimnazjum i liceum,
teraz to sobie uświadamiam, jest to, że byłem gotów na coś
innego. Dzieciństwo stawało się przestarzałe.</p>

<p id="p31">Nie mówię, że nie powinniście spędzać czasu z przyjaciółmi – że
wszyscy powinniście zostać pozbawionymi humoru małymi robotami, które
nie robią nic innego tylko pracują. Spotykanie się z przyjaciółmi jest
jak tort czekoladowy.  Rozkoszujecie się nim bardziej, kiedy jecie go
okazjonalnie, a nie kiedy jecie sam tort czekoladowy na każdy
posiłek. Nieważne jak bardzo lubicie tort czekoladowy, będziecie czuć
mdłości po trzecim posiłku złożonym tylko z niego. I to jest to złe
samopoczucie, które odczuwamy w liceum: to mentalne mdłości.<a name="MT_F5" href="#F5" class="footnote-link">5</a></p>

<p id="p32">Możecie myśleć - mamy więcej do roboty niż zdobywanie dobrych
stopni. Musimy mieć <em>pozaszkolne zajęcia</em>. Ale wiecie bardzo dobrze jak
nieprawdziwa jest większość z nich. Zbieranie darowizn dla organizacji
charytatywnej jest wspaniałą rzeczą do robienia, ale nie jest
<em>ciężkie</em>. To nie jest pracowanie nad dokonaniem czegoś.<span class="footnote"><a name="F5" href="#MT_F5" class="footnote-link">5</a>Kluczem do straty czasu jest rozproszenie. Bez rozpraszaczy, zbyt
oczywistym jest dla waszych mózgów, że nic z nimi nie robicie i
zaczynacie czuć się niekomfortowo. Jeśli chcecie zmierzyć jak bardzo
zależni staliście się od rozpraszaczy, spróbujcie tego eksperymentu:
odłóżcie jakiś blok czasu w weekend, usiądźcie sami i myślcie. Możecie
mieć zeszyt, żeby zapisywać w nim swoje myśli, ale nic poza tym:
żadnych przyjaciół, telewizji, muzyki, telefonu, gadu-gadu, poczty,
sieci, gier, książek, gazet czy magazynów. W ciągu godziny większość
ludzi poczuje silne pragnienie rozproszenia.</span> To, co mam na
myśli przez dokonanie czegoś to nauczenie się dobrze pisać, jak
programować komputery, albo jakie było na prawdę życie w
społeczeństwach przed rewolucją przemysłową, albo jak z natury
narysować ludzką twarz. Tego typu rzeczy rzadko przekładają się na
pozycje w aplikacji o przyjęcie na studia.<a name="MT_TF2" href="#TF2" class="translator-footnote footnote-link">T2</a>
</p>

<h3>Korupcja</h3>

<p id="p33">Projektowanie swojego życia wokół dostania się na uczelnię jest
niebezpieczne, ponieważ ludzie, którym musicie zaimponować, żeby
dostać się na uniwersytet nie są bardzo wnikliwą publicznością. Na
większości uniwersytetów to nie profesorzy decydują czy powinniście
zostać przyjęci, ale urzędnicy zajmujący się rekrutacją, a oni nie są
w żadnym stopniu tak mądrzy. Są podoficerami intelektualnego
świata. Nie mogą określić jacy jesteście mądrzy.  Samo istnienie szkół
przygotowawczych jest tego dowodem<a name="MT_TF3" href="#TF3" class="translator-footnote footnote-link">T3</a>.<span class="footnote translator"><a name="TF2" href="#MT_TF2" class="translator-footnote footnote-link">T2</a>Aplikacja o przyjęcie na studia jest częścią procesu rekrutacji na uczelnie wyższe w USA i Wielkiej Brytanii; składa się z listu motywacyjnego, referencji, prognozowanych ocen, czasami z wyników innych egzaminów (np. językowych dla obcokrajowców). Autor ma na myśli część aplikacji - list motywacyjny. <em>przypis tłumacza</em></span></p>

<p id="p34">Niewielu rodziców zapłaciłoby tak dużo, żeby ich dziecko poszło do
szkoły, która nie podniesie perspektywy ich przyjęcia. Szkoły
przygotowawcze otwarcie mówią, że to jest jednym z ich celów. Ale to
znaczy, jeśli zatrzymacie się i pomyślicie o tym chwilę, że mogą
zhakować<a name="MT_TF4" href="#TF4" class="translator-footnote footnote-link">T4</a> proces rekrutacji: mogą wziąć dokładnie to samo dziecko
i sprawić, że będzie wydawało się bardziej pociągającym kandydatem niż
gdyby poszło do lokalnej szkoły publicznej<a name="MT_F6" href="#F6" class="footnote-link">6</a>.<span class="footnote"><a name="F6" href="#MT_F6" class="footnote-link">6</a>Nie mam zamiaru sugerować, że jedyną funkcją szkół
przygotowawczych jest oszukanie personelu zajmującego się
przyjmowaniem studentów. One także zapewniają lepszą edukację. Ale
spróbujcie tego myślowego eksperymentu: załóżcie, że szkoły
przygotowawcze dostarczają tą samą, lepszą edukację, ale mają maleńki
(.001) negatywny wpływ na przyjęcia na studia. Jak wielu rodziców
wciąż wysyłałoby tam swoje dzieci?<br /><br />

Może być również poddane dyskusji to, że dzieci, które poszły do szkół
przygotowawczych, ponieważ więcej się nauczyły, <em>są</em> lepszymi
kandydatami na studia. Wydaje się to empirycznie błędne. To, czego
się uczycie, nawet w najlepszym liceum, jest błędem zaokrąglenia, w
porównaniu do tego, czego uczycie się na studiach. Dzieci ze szkół
publicznych przyjeżdżają na uniwersytet z niewielką niekorzyścią, ale
zaczynają wysuwać się na przód na drugim roku.<br /><br />

(Nie mówię, że dzieci ze szkół publicznych są ogólnie mądrzejsze niż z
prywatnych, tylko, że są w obrębie każdego jednego uniwersytetu. To
jest konieczny wniosek, jeśli zgadzacie się, że prywatne szkoły
polepszają perspektywę przyjęcia na studia.)</span>
</p>

<p id="p35">Obecnie większość z was czuje, że waszą pracą w życiu jest bycie
obiecującym aplikantem na studia. Ale to oznacza, że projektujecie
swoje życie, żeby zadowolić proces tak bezmyślny, że istnieje cały
przemysł poświęcony podkopywaniu go. Nic dziwnego, że stajecie się
cyniczni. To złe samopoczucie, które odczuwacie jest tym samym, co
czuje producent reality show czy kierownik przemysłu tytoniowego. A
Tobie nawet dobrze nie płacą.</p>

<p id="p36">Więc co robicie? Z pewnością nie powinniście się buntować. Ja tak
zrobiłem i to był błąd. Nie zdawałem sobie do końca sprawy, co się z
nami działo, ale wyczuwałem poważny problem. Więc się
poddałem. Oczywiście, świat jest do niczego, więc po co się tym
przejmować?</p>

<p id="p37">Kiedy odkryłem, że jedna z naszych nauczycielek sama używała opracowań
lektur, wydawało się to na poziomie tego kursu. Z pewnością nic nie
znaczyło otrzymanie dobrego stopnia z takich zajęć.</p>

<p id="p38"><span class="footnote translator"><a name="TF3" href="#MT_TF3" class="translator-footnote footnote-link">T3</a>Szkoła przygotowawcza jest rodzajem szkoły średniej, przeważnie pobierającej wysokie opłaty; tworzone są po to, aby przygotowywać uczniów w wieku pomiędzy 14 a 18 rokiem życia do studiów wyższych. Szkoły przygotowawcze są najpopularniejsze w USA. <em>przypis tłumacza</em></span>W retrospekcji, to było głupie. To było coś jak bycie sfaulowanym w
grze w piłkę nożną i mówienie – hej, sfaulowałeś mnie, to niezgodne z
zasadami, i schodzenie z boiska z oburzeniem. Faule się
zdarzają. Kiedy zostanie się sfaulowanym nie należy tracić swojego
opanowania. Po prostu kontynuujcie grę.</p>

<p id="p39">Przez stawianie was w takiej sytuacji społeczeństwo was
sfaulowało. Tak, jak podejrzewacie, mnóstwo rzeczy, których uczycie
się na zajęciach to śmieci. I tak, jak podejrzewacie, proces
przyjmowania na uniwersytet jest wielką szaradą. Ale, jak wiele fauli,
ten był nieumyślny<a name="MT_F7" href="#F7" class="footnote-link">7</a>. Więc kontynuujcie grę.
<span class="footnote translator"><a name="TF4" href="#MT_TF4" class="translator-footnote footnote-link">T4</a>Zhackować - tutaj, kreatywnie wpłynąć na działanie systemu używając jego własnych mechanizmów tak, by uzyskać to, co się chce. O znaczeniu słowa <em>hacker</em> Autor napisał osobny <a href="http://paulgraham.com/gba.html">esej</a>. <em>przypis tłumacza</em></span></p>


<p id="p40">Bunt jest prawie tak głupi jak posłuszeństwo. W obu przypadkach
pozwalacie sobie być określonym przez to, co każą wam robić. Myślę, że
najlepszym planem, jest wejście na wektor prostopadły. Nie róbcie
tylko tego, co wam każą, i nie tylko odmawiajcie. Zamiast tego
traktujcie szkołę jak pracę na etat. Jak na pracę, jest całkiem
przyjemna. Kończycie o 15.00 i możecie nawet pracować nad swoimi
rzeczami, kiedy tam jesteście.<span class="footnote"><a name="F7" href="#MT_F7" class="footnote-link">7</a>Dlaczego społeczeństwo was fauluje? Obojętność, głównie. Nie ma po
prostu żadnych sił zewnętrznych naciskających na liceum, żeby było
dobre. System kontroli lotów działa, dlatego, że inaczej samoloty by
się porozbijały. Biznesy muszą dostarczać wartości, ponieważ inaczej
konkurencja odebrałaby im klientów. Ale żadne samoloty się nie
rozbijają, jeśli wasze szkoły są do niczego i nie mają one
konkurencji. Liceum nie jest złe; jest losowe; ale losowe oznacza dość
kiepskie.</span></p>

<h3>Ciekawość</h3>

<p id="p41">Jaka powinna być wasza prawdziwa praca? Jeśli nie jesteście Mozartami,
waszym pierwszym zadaniem jest ustalenie tego. Jakie są świetne rzeczy
nad którymi można pracować? Gdzie są ludzie z wyobraźnią? I
najważniejsze, czym się interesujecie? Słowo “uzdolnienia” jest
mylące, ponieważ implikuje coś wrodzonego. Najsilniejszym rodzajem
uzdolnienia jest pochłaniające zainteresowanie jakimś pytaniem, i
takie zainteresowania są często nabytymi gustami.</p>

<p id="p42">Zniekształcona wersja tego pomysłu przesączyła się do kultury
popularnej pod nazwą “pasji”. Ostatnio widziałem ofertę dla kelnerów,
mówiącą, że szukają ludzi z „pasją dla usług”.  Tą prawdziwą pasją nie
jest coś, co ktoś może mieć dla czekania przy stolikach. A słowo pasja
jest na to złym określeniem. Lepszą nazwą byłaby ciekawość.</p>

<p id="p43">Dzieci są ciekawe, ale ta ciekawość, którą mam na myśli, ma inny
kształt niż ciekawość dzieci. Ciekawość dzieci jest szeroka i płytka;
pytają z przypadku „dlaczego”, o wszystko. U większości dorosłych taka
ciekawość wysycha całkowicie. Musi: nie możesz niczego dokonać pytając
cały czas „dlaczego”. Ale u ambitnych dorosłych, zamiast wysychać,
ciekawość staje się wąska i głęboka. Równina błotna przekształca się w
studnię.</p>

<p id="p44">Ciekawość zamienia pracę w grę. Dla Einsteina, teoria względności nie
była książką pełną ciężkich rzeczy, których musiał się uczyć na
egzamin. Była zagadką, którą starał się rozwiązać. Więc prawdopodobnie
wynajdywanie jej było odczuwane przez niego mniej jak praca, niż dla
ktoś, kto uczy się tego teraz na zajęciach.</p>

<p id="p45">Jedną z najgroźniejszych iluzji jaką wynosisz ze szkoły jest idea, że
robienie wspaniałych rzeczy wymaga mnóstwa dyscypliny. Większość
przedmiotów jest nauczana w tak nudny sposób, że tylko poprzez
dyscyplinę możecie wbić je sobie do głowy. Byłem więc zaskoczony,
kiedy na początku studiów przeczytałem cytat Wittgensteina, mówiący, że nie miał żadnej
samodyscypliny i nigdy nie był w stanie odmówić sobie niczego, nawet
filiżanki kawy.</p>

<p id="p46">Teraz znam ludzi, którzy robią świetną pracę i wszystkich ich łączy to
samo. Mają mało dyscypliny. Wszyscy są okropnymi prokrastynatorami<a name="MT_TF5" href="#TF5" class="translator-footnote footnote-link">T5</a>
<span class="footnote translator"><a name="TF5" href="#MT_TF5" class="translator-footnote footnote-link">T5</a>Prokrastynacja, inaczej odwlekanie spraw na później, odczuwanie trudności z zabraniem się do pracy. Patrz także, <a href="http://pl.wikipedia.org/wiki/Prokrastynacja">definicja na Wikipedii</a>. <em>przypis tłumacza</em></span> i zmuszenie się do zrobienia czegoś, czym nie są
zainteresowani jest dla nich bardzo ciężkie. Jeden znajomy wciąż nie
wysłał połowy podziękowań ślubnych sprzed 4 lat. Inna koleżanka ma
26,000 e-maili w swoje skrzynce odbiorczej.</p>

<p id="p47">Nie mówię, że uda wam się ujść z zerową samodyscypliną. Prawdopodobnie
potrzebujecie mniej więcej tej ilości, która pozwoli wam wyjść
pobiegać. Często jestem niechętny by iść biegać, ale kiedy zaczynam,
sprawia mi to przyjemność. Jeśli nie biegam przez parę dni, czuję się
źle. Tak samo jest z ludźmi, którzy robią świetne rzeczy. Wiedzą, że
będą się czuli źle, jeśli nie będą pracowali i mają dość dyscypliny,
żeby usiąść przy biurku i zacząć pracować. Ale kiedy zaczynają,
zainteresowanie bierze górę i dyscyplina nie jest już dłużej
potrzebna.</p>

<p id="p48">Uważacie, że Szekspir zaciskał zęby i pilnie się starał, żeby pisać
Wielką Literaturę? To oczywiste, że nie. Bawił się. Dlatego jest taki
dobry.</p>

<p id="p49">Jeśli chcecie robić dobrą pracę to tym, czego potrzebujecie jest
wielka ciekawość względem obiecującego pytania. Krytyczny moment dla
Einsteina przyszedł, kiedy spojrzał na równania Maxwella i powiedział,
co tu się do diaska dzieje?</p>

<p id="p50">Znalezienie produktywnego pytania może zająć lata, ponieważ samo
odkrycie prawdziwego sensu tematu może tyle potrwać. Weźmy ekstremalny
przypadek, rozważmy matematykę. Większość ludzi myśli, że nienawidzą
matematyki, ale te nudne rzeczy, które robicie w szkole pod nazwą
„matematyka” nie są w niczym podobne do tego, co robią matematycy.</p>

<p id="p51">Wspaniały matematyk G.H. Hardy powiedział, że też nie lubił matematyki
w liceum. Wybrał ją tylko dlatego, że był w niej lepszy niż inni
uczniowie. Później zrozumiał, że matematyka była interesująca, ale
dopiero kiedy zaczął zadawać pytania zamiast tylko odpowiadać na nie
poprawnie.</p>

<p id="p52">Kiedy mój przyjaciel zwykł narzekać, ponieważ musiał napisać pracę do
szkoły, jego mama mówiła mu: znajdź sposób, żeby uczynić to
interesującym. Ludzie, którzy robią wielkie rzeczy patrzą na ten sam
świat, co wszyscy inni, ale dostrzegają jakiś dziwny detal, który jest
nieodparcie zagadkowy.</p>

<p id="p53">I nie tylko w kwestiach intelektualnych. Wielkim pytaniem Henry’ego
Forda było, dlaczego samochody muszą być rzeczą luksusową? Co by się
stało gdybyście traktowali je jako towar? A Franza Beckenbauera było,
w efekcie, dlaczego każdy musi pozostawać na swoim miejscu? Dlaczego
obrońcy także nie mogą strzelić jakiejś bramki?</p>

<h3>Teraz</h3>

<p id="p54">Jeśli wyartykułowanie wielkich pytań zajmuje lata, co macie robić
teraz, w wieku 16 lat? Pracujcie nad znalezieniem jednego. Świetne
pytania nie pojawiają się niespodziewanie. One stopniowo zastygają w
waszych głowach. A to, co sprawia, że zastygają to doświadczenie. Więc
drogą do znalezienia wielkich pytań nie jest ich poszukiwanie, nie
chodzenie wokół i myślenie, jakie to wielkie odkrycie moglibyście
zrobić? Nie możecie na to odpowiedzieć; gdybyście mogli to już byście
to zrobili.</p>

<p id="p55">Drogą do sprawienia, żeby wielki pomysł pojawił się w waszych głowach
nie jest polowanie na nie, ale poświęcenie mnóstwa czasu pracy, która
was interesuje, trzymając w trakcie umysł dość otwarty, żeby wielki
pomysł mógł się zakorzenić. Einstein, Ford i Beckenbauer - wszyscy
korzystali z tego przepisu.  Oni wszyscy znali swoją pracę tak jak
pianista zna klawisze. Więc kiedy coś wydawało im się złe, mieli dość
pewności, żeby to zauważyć.</p>

<p id="p56">Poświęcić czas, jak i na co? Po prostu wybierzcie projekt, który
wydaje się was ciekawy: żeby być mistrzem w jakiejś partii materiału,
albo zrobić coś, czy odpowiedzieć na jakieś pytanie. Wybierzcie
projekt, który zajmie mniej niż miesiąc, i uczyńcie nim coś, do czego
skończenia macie środki. Zróbcie coś wystarczająco ciężkiego, żeby was
rozciągnęło, ale tylko trochę, w szczególności na początek. Jeśli
wybieracie pomiędzy dwoma projektami, wybierzcie ten, który wydaje się
zabawniejszy. Jeśli jeden wybuchnie wam w twarz, zacznijcie
inny. Powtarzajcie dopóki, jak silnik spalinowy, proces stanie się
samopodtrzymujący, bo każdy projekt generuje kolejny. (To może zająć
lata.)</p>

<p id="p57">To może być równie dobrze nie robienie projektu “dla szkoły”, jeśli to
ograniczy was i będzie się wydawało pracą. Zaangażujcie swoich
przyjaciół, jeśli chcecie, ale nie zbyt wielu, i tylko jeśli możecie
na nich polegać. Przyjaciele oferują moralne wsparcie (niewiele
startupów jest zakładanych przez jedną osobę), ale sekrety także mają
swoje korzyści. Jest coś przyjemnego w tajnym projekcie. Możecie też
podejmować większe ryzyko, ponieważ nikt nie będzie wiedzieć, jeśli
wam się nie uda.</p>

<p id="p58">Nie martwcie się, jeśli projekt nie wydaje się być na drodze do
osiągnięcia jakiegoś celu, który założyliście. Drogi mogą wyginać się
bardziej niż myślicie. Pozwólcie drodze wyrosnąć z
projektu. Najważniejszą rzeczą jest bycie podekscytowanym, bo uczycie
się przez robienie.</p>

<p id="p59">Nie lekceważcie niestosownych motywacji. Jedną z najsilniejszych jest
pragnienie bycia lepszym w czymś niż inni ludzie. Hardy powiedział, że
to dlatego zaczął, i myślę, że jedyną niezwykłą rzeczą w nim jest to,
że się do tego przyznał. Inną silną motywacją jest pragnienie robienia
albo zdobywania wiedzy o rzeczach, których znać się nie
powinno. Blisko związane jest pragnienie robienia czegoś śmiałego. Nie
oczekuje się od szesnastolatków, żeby pisali powieści. Więc jeśli
spróbujecie, cokolwiek osiągniecie jest po dodatniej stronie rejestru;
jeśli kompletnie wam się nie uda, nie robicie niczego poniżej
oczekiwań<a name="MT_F8" href="#F8" class="footnote-link">8</a>.<span class="footnote"><a name="F8" href="#MT_F8" class="footnote-link">8</a>I oczywiście są też pieniądze. Nie jest to dużym czynnikiem w
liceum, ponieważ nie ma wielu rzeczy jakie możesz robić, które ktoś
inny by chciał. Ale wiele wspaniałych rzeczy było stworzonych głównie
po to, żeby zarabiać. Samuel Johnson powiedział „tylko dureń
kiedykolwiek napisał coś nie dla pieniędzy.” (Wielu miało nadzieję, że
przesadzał.)</span></p>


<p id="p60">Strzeżcie się złych modeli. Szczególnie kiedy tłumaczą lenistwo. Kiedy
byłem w liceum pisałem „egzystencjalne” opowiadania, takie jak te,
które widziałem u znanych pisarzy. Moje opowiadania nie miały wielu
wątków, ale były bardzo głębokie. Ich pisanie było mniejszą pracą niż
byłoby pisanie zabawnych opowiadań. Powinienem był wiedzieć, że to
była oznaka niebezpieczeństwa. I w zasadzie moje historie okazały się
być dość nudne; rzeczą, która mnie ekscytowała była sama idea pisania
poważnych, intelektualnych rzeczy jak sławni pisarze.</p>

<p id="p61">Teraz mam dość doświadczenia, żeby zdawać sobie sprawę, że ci znani
pisarze byli w gruncie rzeczy do niczego. Wielu słynnych ludzi jest do
niczego; na samym początku jakość czyjejś pracy jest jedynie małym
składnikiem sławy. Powinienem był przykładać mniejszą wagę do robienia
czegoś, co wydawało się fajne i po prostu zrobić coś, co lubiłem. To
jest w każdym razie prawdziwa droga do fajności.</p>

<p id="p62">Głównym składnikiem wielu projektów, praktycznie projektem samym w
sobie, jest znalezienie dobrych książek. Większość książek jest
zła. Prawie wszystkie podręczniki są złe<a name="MT_F9" href="#F9" class="footnote-link">9</a>. Więc nie zakładajcie, że <span class="footnote"><a name="F9" href="#MT_F9" class="footnote-link">9</a>Nawet podręczniki uniwersyteckie są kiepskie. Kiedy dostaniecie
się na uniwersytet odkryjecie, że (poza kilkoma wspaniałymi wyjątkami)
podręczniki nie są pisane przez wiodących uczonych w dziedzinie, którą
opisują. Pisanie podręczników akademickich jest nieprzyjemną pracą,
wykonywaną głównie przez ludzi potrzebujących za nie pieniędzy. Jest
ona nieprzyjemna, gdyż wydawcy rozciągają tak dużą kontrolę, a jest
niewiele gorszych rzeczy niż ścisły nadzór przez kogoś kto nie rozumie
tego, co robisz. To zjawisko jest najwyraźniej jeszcze gorsze przy
produkcji podręczników licealnych.</span>

tematu można się nauczyć z pierwszej książki jaka jest pod
ręką. Musicie aktywnie poszukiwać małej liczby dobrych książek.</p>

<p id="p63">Ważną rzeczą jest rozpoczęcie pracy. Zamiast czekać aż zostaniecie
nauczeni, idźcie i się uczcie.</p>

<p id="p64">Wasze życie nie musi być kształtowane przez pracowników przyjmujących
na studia. Mogłoby być kształtowane przez waszą własną ciekawość. Tak
jest w przypadku wszystkich ambitnych dorosłych. Nie musicie czekać,
żeby zacząć. W zasadzie nie musicie czekać, żeby być dorosłym. Nie ma
w was żadnego przełącznika, który magicznie przeskoczy kiedy
osiągniecie pewien wiek albo zostaniecie absolwentem jakiejś
instytucji. Zaczynacie być dorosłym kiedy decydujecie się wziąć
odpowiedzialność za swoje życie. Możecie to zrobić w każdym
wieku<a name="MT_F10" href="#F10" class="footnote-link">10</a>.<span class="footnote"><a name="F10" href="#MT_F10" class="footnote-link">10</a>Wasi nauczyciele zawsze wam mówią, żebyście zachowywali się jak
dorośli. Zastanawiam się czy by się im spodobało, gdybyście
zaczęli. Możecie być głośni i niezorganizowani, ale jesteście bardzo
potulni w porównaniu do dorosłych. Gdybyście rzeczywiście zaczęli
zachowywać się jak dorośli, to byłoby tak jakby grupka dorosłych
została przetransponowana do waszych ciał. Wyobraźcie sobie reakcję
agenta FBI albo taksówkarza czy reportera, którym każe się prosić o
pozwolenie na pójście do łazienki.  I tylko jedna osoba może iść na
raz. Nie mówiąc o rzeczach, których was uczą. Gdyby grupa faktycznych
dorosłych nagle została uwięziona w szkole, pierwszą rzeczą jaką by
zrobili byłoby założenie związku zawodowego i renegocjacja warunków z
administracją.</span></p>

<p id="p65">To może brzmieć jak bzdury. Jesteśmy jeszcze małoletni, możecie
myśleć, nie mamy pieniędzy, musimy mieszkać w domu, przez cały dzień
musimy robić to, co każą nam dorośli. Cóż, większość dorosłych pracuje
pod ograniczeniami tak samo niewygodnymi jak wasze, i udaje im się
załatwiać sprawy. Jeśli myślisz, że bycie dzieckiem jest
ograniczające, pomyśl o posiadaniu dzieci.</p>

<p id="p66">Jedyną prawdziwą różnicą pomiędzy dorosłymi i licealistami jest to, że
dorośli zdają sobie sprawę z tego, że muszą doprowadzać rzeczy do
końca, licealiści nie. Uświadomienie sobie tego uderza większość ludzi
w wieku około 23 lat. Ale pozwalam wam wiedzieć o tym sekrecie
wcześniej. Może będziecie pierwszym pokoleniem, którego największym
żalem z okresu liceum nie będzie to, ile czasu wtedy zmarnowaliście.</p>

<p id="p67"><strong>Podziękowania</strong> dla Ingrid Bassett, Trevor Blackwell, Rich Draves, Dan
Giffin, Sarah Harlin, Jessica Livingston, Jackie McDonough, Robert
Morris, Mark Nitzberg, Lisa Randall, and Aaron Swartz za czytanie
wersji roboczych i wielu innych za rozmawianie ze mną o liceum.</p>
