<% @include ../templates/common/standard-essay.html %>
<% (essay :id :hw) %>

<p id="p1">Jedną z zalet wczesnej, szerokiej koncentracji Y Combinatora jest to,
że widzimy trendy wcześniej niż większość innych ludzi. A jednym z
najbardziej rzucających się w oczy trendów ostatniej serii startupów
była pokaźna liczba tych pracujących nad sprzętem. Spośród 84 firm, 7
robiło sprzęt. I całościowo, radziły sobie lepiej niż pozostałe firmy,
które nie zajmowały się sprzętem.</p>

<p id="p2">Oczywiście firmy te napotkały opór ze strony inwestorów. Inwestorzy
mają głęboko zakorzenione uprzedzenie do sprzętu. Ale opinie
inwestorów to tylko wskaźnik podążający. Najlepsi założyciele widzą przyszłość lepiej niż najlepsi
inwestorzy, ponieważ to właśnie najlepsi założyciele ją tworzą.</p2>

<p id="p3">Nie ma żadnej pojedynczej siły napędzającej ten trend. Sprzet <a href="http://bits.blogs.nytimes.com/2012/05/11/pebble-smartwatch-tops-out-at-10-million-on-kickstarter/">radzi
sobie świetnie</a> na stronach crowdfundingowych<a name="MT_TF1" href="#TF1" class="translator-footnote footnote-link">T1</a><span class="footnote translator"><a name="TF1" href="#MT_TF1" class="translator-footnote footnote-link">T1</a> Crowdfunding - finansowanie przedsięwzięć przez społeczności organizujące się wokół danego projektu, zwykle na drodze drobnych, jednorazowych wpłat. Jest to ostatnio bardzo popularny model finansowania eksperymentalnych projektów sprzętowych i software'owych. Patrz także, <a href="http://pl.wikipedia.org/wiki/Crowdfunding">hasło na Wikipedii</a>. <em>przypis tłumacza</em></span>. Rozprzestrzenienie się
<a href="http://paulgraham.com/tablets.html">tabletów</a> umożliwia budowanie nowych rzeczy przez <a href="http://lockitron.com/">nie sterowanych</a>, a
nawet <a href="http://doublerobotics.com/">włączających</a> je w swój skład. <a href="http://www.boostedboards.com/">Silniki elektryczne</a> zostały
udoskonalone. Za oczywistą można już przyjmować
wszelkiego rodzaju bezprzewodową łączność. Arduina, druk 3D, wycinanie
laserowe i bardziej dostępne frezowanie CNC czynią sprzęt łatwiejszym
do prototypowania. Sprzedawcy detaliczni nie są już tak wąskim
gardłem, gdyż klienci coraz częściej kupują on-line.</p>

<p id="p4">Jedno pytanie, na które mogę odpowiedzieć to dlaczego sprzęt jest
nagle fajny. Zawsze był fajny. Przedmioty fizyczne są świetne. Po
prostu nie były tak świetne jako sposób na zaczęcie <a href="http://paulgraham.com/growth.html">szybko rozwijającego się</a>
biznesu jak oprogramowanie. Ale ta reguła może nie być trwała. Nie
jest nawet taka stara; pochodzi z około 1990 roku. Być może zalety
oprogramowania okażą się być chwilowe. Hakerzy kochają budować sprzęt,
a klienci kochają go kupować. Jeśli tylko dostarczanie sprzętu będzie
choć trochę tak łatwe jak dostarczanie oprogramowania, to zobaczymy o
wiele więcej startupów sprzętowych.</p>

<p id="p5">Nie byłby to pierwszy raz, kiedy coś było złym pomysłem póki nie
przestało nim być. I nie byłby to pierwszy raz, gdy inwestorzy nauczyli
się tej lekcji od założycieli.</p>

<p id="p6">Więc jeśli chcesz pracować nad sprzętem, nie czuj przed tym
zachamowania ze strachu, że inwestorzy będą Cię dyskryminować. A w
szczególności, nie hamuj się przed <a href="http://ycombinator.com/apply.html">aplikowaniem</a> do Y Combinator z
pomysłem sprzętowym, gdyż jesteśmy szczególnie zainteresowani
startupami sprzetowymi.</p>

<p id="p7">Wiemy, że jest miejsce na <a href="http://paulgraham.com/ambitious.html">kolejnego Steve'a Jobsa</a>. Ale z pewnością jest też
miejsce na pierwszego <Wstaw Swoje Imię>.</p>

<p id="p8"><strong>Podziękowania</strong> dla: Sam Altman, Trevor Blackwell, David Cann, Sanjay
Dastoor, Paul Gerhardt, Cameron Robertson, Harj Taggar, and Garry Tan
za czytanie wersji roboczych tego eseju.</p>

<ul>
  <li><a href="http://mantellavp.com/a-hardware-renaissance-while-software-eats-the-world/">Renesans sprzętu, kiedy oprogramowanie pożera świat?</a></li>
</ul>
