<% @include ../templates/common/standard-essay.html %>
<% (essay :id :judgement) %>

<p id="p1">Ludzie oceniają cię na dwa różne sposoby. Czasami odpowiednia ocena
jest głównym celem. Jednak znacznie popularniejszy jest drugi typ
oceniania, który nie kończy się adekwatną oceną. Mamy skłonności do
klasyfikowanie wszystkich osądów jako te pierwszego typu. Bylibyśmy
prawdopodobnie szczęśliwsi gdybyśmy zdali sobie sprawę z tego, które
się do nich zaliczają, a które nie.</p>

<p id="p2">Pierwszy typ osądu, ten którego celem jest adekwatna ocena, dotyczy
spraw sądowych, ocen na zajęciach i większości konkursów. Takie osądy
mogą oczywiście być mylne, ale ze względu na to, że celem jest
ocenienie ciebie odpowiednio, przeważnie są jakieś procesy
odwoławcze. Jeśli czujesz, że zostałeś źle oceniony, możesz
protestować, że zostałeś potraktowany niesprawiedliwie.</p>

<p id="p3">Prawie wszystkie osądy dokonane na dzieciach należą do tego typu, więc
wcześnie nabieramy nawyku uważania, że wszystkie oceny są takie.</p>

<p id="p4">Ale zasadniczo, istnieje druga, o wiele większa grupa osądów, gdzie
ocena ciebie stanowi tylko środek do czegoś innego. Ta zawiera
przyjęcia na studia <a name="MT_TF1" href="#TF1" class="translator-footnote">T1</a>

<span class="footnote translator"><a name="TF1" href="#MT_TF1" class="translator-footnote">T1</a> Proces przyjęć na studia w USA składa się z dwóch faz – pierwsza zawiera złożenie listu motywacyjnego, referencji od nauczyciela i przewidywanych ocen, na podstawie których uczelnia wystosowuje ofertę lub odrzuca aplikanta. Drugą fazą jest przesłanie wyników egzaminu i potwierdzenie lub anulowanie oferty. <em>przypis tłumacza</em></span>

, zatrudnianie, decyzje inwestycyjne i
oczywiście oceny dokonywane podczas randek. Ten rodzaj osądu na prawdę
nie dotyczy cię personalnie.</p>

<p id="p5">Postaw się na miejscu osoby wybierającej graczy do drużyny
narodowej. Załóżmy, dla uproszczenia, że jest to gra bez pozycji i
musisz wybrać 20 graczy. Będzie tu parę gwiazd, które zdecydowanie
powinny tworzyć drużynę, i wielu którzy oczywiście nie powinni. Jedyny
wypadek, w którym twoja ocena robi różnicę są pograniczne
przypadki. Załóżmy, że dałeś ciała i zaniżyłeś ocenę dwudziestego
najlepszego gracza, powodując, że nie wszedł on w skład drużyny, a
jego miejsce zajął dwudziesty pierwszy najlepszy. Wciąż wybrałeś dobrą
drużynę. Jeśli gracze mają standardowy rozkład zdolności, dwudziesty
pierwszy najlepszy gracz będzie tylko odrobinę gorszy od dwudziestego
najlepszego gracza. Prawdopodobnie różnica pomiędzy nimi będzie
mniejsza niż błąd pomiarowy.</p>

<p id="p6">Dwudziesty najlepszy gracz może czuć, że został źle oceniony. Ale
twoim celem nie było zapewnienie serwisu szacującego ludzkie
zdolności. Było nim wybranie grupy i jeśli różnica pomiędzy
dwudziestym a dwudziestym pierwszym najlepszym graczem jest mniejsza
niż błąd pomiarowy, wciąż zrobiłeś to optymalnie.</p>

<p id="p7">Fałszywą analogią jest nawet używanie słowa niesprawiedliwy do
opisania takiego rodzaju złej oceny. Zamierzeniem nie jest wykonanie
odpowiedniego oszacowania dowolnej osoby, ale wybranie sensownie
optymalnego składu.</p>

<p id="p8">Jedną rzeczą, która sprowadza nas na manowce jest to, że wybierający
wydaje się posiadać władzę. To sprawia, że wydaje się on sędzią. Jeśli
odbierasz kogoś, kto cię ocenia jako klienta, nie sędziego,
oczekiwanie sprawiedliwości ustępuje. Autor dobrej książki nie
narzekałby, że czytelnicy byli <em>niesprawiedliwi</em> preferując dzieło na
niskim poziomie z pikantną okładką. Głupi, być może, ale nie
niesprawiedliwi.</p>

<p id="p9">Nasz wczesny trening i egocentryzm łączą się, sprawiając, że wierzymy,
że każda ocena nas dotyczy. Zasadniczo w większości przypadków tak nie
jest. To jest rzadki przypadek, w którym bycie mniej egocentrycznym
dodaje ludziom pewności siebie. Kiedy uświadomisz sobie jak mało
osoby, które Cię oceniają dbają o to, żeby ocenić cię odpowiednio –
kiedy sobie uświadomisz, że z powodu normalnego rozkładu większości
pul aplikantów, najmniejsze znaczenie ma adekwatna ocena w dokładnie
tych przypadkach, gdzie ocena ma największy efekt – nie będziesz brał
odrzucenia tak osobiście.</p>

<p id="p10">I dość ciekawie, przyjmowanie odrzucenia mniej osobiście może pomóc ci
rzadziej być odrzucanym. Jeśli myślisz, że ktoś, kto cię ocenia będzie
ciężko pracował, żeby ocenić cię odpowiednio, możesz pozwolić sobie na
bycie pasywnym. Ale im bardziej uświadomisz sobie, że większość osądów
jest mocno uzależniona od przypadku, czynników zewnętrznych – że
większość ludzi oceniających cię przypomina bardziej osoby kupujące
lekkomyślne książki niż mądrych i spostrzegawczych sędziów – im
bardziej sobie to uświadomisz, możesz wpływać na wynik.</p>

<p id="p11">Dobrym miejscem, żeby zaaplikować tą zasadę są podania na
studia. Większość licealistów składając dokumenty na studia robi to z
typowym dziecięcym połączeniem poczucia niższości i egocentryzmu:
niższości w tym, że zakładają, że komisje zajmujące się przyjęciami
muszą być wszechwidzące; egocentryzmu w tym, że zakładają, że komisjom
do spraw przyjęć zależy na nich dość, żeby zagłębić się w ich
podaniach i wydedukować czy są dobrzy czy nie. To połączenie sprawia,
że aplikanci są pasywni w procesie rekrutacji i czują się zranieni,
kiedy zostają odrzuceni. Jeśli osoby składające podania na studia
uświadomiłyby sobie jak szybkie i nieosobiste są w większości procesy
selekcji, podjęliby więcej wysiłku, żeby się sprzedać i odebraliby
wynik mniej osobiście.</p>
