<% @include ../templates/common/standard-essay.html %>
<% (essay :id :makersschedule) %>

<p id="p1">Jednym z powodów, dla których programiści tak bardzo nie
lubią spotkań jest to, że funkcjonują w oparciu o inny harmonogram niż
większość ludzi. Spotkania więcej ich kosztują.</p>

<p id="p2">Istnieją dwa rodzaje harmonogramów, które nazwałbym
harmonogramem menadżera i harmonogramem twórcy. Harmonogram menadżera
jest dla szefów. Zawiera się w tradycyjnym kalendarzu spotkań, który
dzieli każdy dzień na godzinne okresy. Możesz zarezerwować parę godzin
na pojedyncze zadanie, jeśli potrzebujesz, ale z założenia co godzinę
zmieniasz to co robisz.</p>

<p id="p3">Kiedy w ten sposób korzystasz z czasu, to spotkanie się z
kimś jest jedynie problemem praktycznym.  Znajdź otwartą szczelinę w
swoim harmonogramie, zarezerwuj ją i masz to z głowy.</p>

<p id="p4">Najbardziej wpływowi ludzie funkcjonują w ramach
harmonogramu menadżera. Jest to harmonogram dowodzenia. Ale istnieje
inny sposób korzystania z czasu, który jest powszechny wśród ludzi,
którzy tworzą rzeczy, takich jak programiści i pisarze. Oni generalnie
wolą używać czasu w jednostkach składających się z co najmniej połowy
dnia. Nie możesz dobrze napisać programu w jednostce składającej się z
godziny. To jest ledwie dość czasu, żeby zacząć.</p>

<p id="p5">Kiedy pracujesz w harmonogramie twórcy, spotkania są
katastrofą. Pojedyncze spotkanie może zniszczyć całe popołudnie przez
rozbicie go na dwie części, obydwie zbyt małe, żeby zrobić coś
trudnego. Ponadto musisz pamiętać, żeby pójść na to spotkanie. To nie
jest problem dla kogoś, kto funkcjonuje w harmonogramie
menadżera. Zawsze jest coś, co nadchodzi z kolejną godziną; jedynym
pytaniem jest co. Ale kiedy ktoś żyjący w harmonogramem twórcy ma
spotkanie, to musi o tym myśleć.</p>


<p id="p6">Dla kogoś kto pracuje harmonogramem twórcy, spotkanie jest
jak rzucenie wyjątku. Nie tylko sprawia, że przełączasz się z jednego
zadania na inne; zmienia to tryb twojej pracy.</p>

<p id="p7">Odkrywam, że jedno spotkanie może czasami wpłynąć na cały
dzień. Spotkanie przeważnie psuje przynajmniej połowę dnia, przez
rozbicie poranka bądź popołudnia. Ale w dodatku czasami zdarza się
efekt domina. Jeśli wiem, ze popołudnie ma być rozbite to zaczęcie
czegoś ambitnego rano staje się mniej prawdopodobne. Wiem, że to może
brzmieć jak przewrażliwienie, ale jeśli jesteś twórcą, pomyśl o swoim
własnym przypadku. Czy twoja dusza nie raduje się na myśl, że masz
cały dzień wolny, żeby pracować, bez żadnych umówionych spotkań? To
oznacza, że twoja dusza jest odpowiednio nieszczęśliwa kiedy go nie
masz. A ambitne projekty są z definicji bliskie limitom twoich
zdolności. Mały spadek morale jest wystarczający, żeby je zabić.</p>

<p id="p8">Każdy typ harmonogramu sam w sobie działa dobrze. Problemy
powstają wtedy, kiedy te dwa typy się spotykają. Ponieważ najbardziej
wpływowi ludzie pracują harmonogramem menadżera, są w pozycji, żeby
zmusić wszystkich do rezonowania na ich częstotliwości, jeśli tylko
zechcą. Ale ci mądrzejsi powstrzymują się, jeśli wiedzą, że niektórzy
z ich pracowników potrzebują pracować w długich kawałkach czasu.</p>

<p id="p9">Nasz przypadek jest niestandardowy. Prawie wszyscy
inwestorzy, włącznie ze wszystkimi VC, które znam działają w
harmonogramie menadżera. Ale <a href="http://ycombinator.com/">Y
Combinator</a> działa harmonogramem twórcy. Rtm, Trevor i ja działamy
tak, ponieważ zawsze to robiliśmy, a Jessica robi tak samo dlatego, że
się z nami zsynchronizowała.</p>

<p id="p10">Nie byłbym zaskoczony, gdyby pojawiło się więcej firm
podobnych do nas. Podejrzewam, że założyciele mogą być coraz bardziej
w stanie odmówić, a przynajmniej opóźnić zamienienie się w menadżerów,
tak jak kilka dekad temu zaczęli być zdolni do odmawiania zamiany
jeansów na garnitury.</p>

<p id="p11">Jak radzimy sobie z doradzaniem tylu startupom, pracując w
harmonogramie twórcy? Przez używanie klasycznego urządzenia do
symulowania harmonogramu menadżera wewnątrz harmonogramu twórcy:
godziny pracy. Parę razy w tygodniu odkładam na bok kawałek czasu,
żeby spotkać się z założycielami, których ufundowaliśmy. Te kawałki
czasu są pod koniec mojego dnia pracy i napisałem program do
rejestracji, żeby upewnić się, że wszystkie umówione spotkania są
skupione na końcu. Spotkania te mi nie przeszkadzają, ponieważ
przychodzą oni pod koniec mojego dnia. (Jeśli ich dzień pracy nie
kończy się w tym samym czasie, co mój, spotkanie przypuszczalnie
przeszkadza w ich harmonogramie, ale skoro to oni umówili się na
spotkanie, to musi ono być dla nich tego warte.) Podczas pracowitych
okresów, godziny pracy wydłużają się wystarczająco, żeby skondensować
dzień, ale nigdy w nim nie przeszkadzają.</p>

<p id="p12">Kiedy pracowaliśmy nad naszym własnym startupem w latach
’90, rozwinąłem kolejny trik, żeby podzielić dzień. Zwykłem
programować od kolacji do około 3 nad ranem, ponieważ w nocy nikt nie
mógł mi przeszkadzać. Potem spałem do 11, a potem przychodziłem i
pracowałem do kolacji nad rzeczami, które nazywałem „sprawami
biznesowymi”. Nigdy nie myślałem o tym w ten sposób, ale w efekcie
miałem dwa dni pracy każdego dnia, jeden w harmonogramie twórcy i
jeden w harmonogramie menadżera.</p>

<p id="p13">Kiedy działasz w harmonogramie menadżera możesz robić coś,
czego nigdy nie chciałbyś robić w harmonogramie twórcy: możesz mieć
spotkania spekulacyjne. Możesz spotkać się z kimś tylko po to, żeby
się nawzajem poznać. Jeśli masz pustą szczelinę w harmonogramie, czemu
nie? Może się okaże, że w jakiś sposób możecie pomóc sobie
nawzajem.</p>

<p id="p14">Ludzie biznesu w Dolinie Krzemowej (i cały świat, jeśli o
to chodzi) mają spotkania spekulacyjne cały czas. Są w praktyce
darmowe, jeśli pracujesz w harmonogramie menadżera. Spotkania te są
tak powszechne, że jest charakterystyczny język służący do ich
proponowania: przykładowo powiedzenie, że chcesz „skoczyć na
kawę”.</p>

<p id="p15">Jednak spotkania spekulacyjne kosztują okropnie dużo,
kiedy pracujesz w harmonogramie twórcy. Co stawia nas w trudnym
położeniu. Wszyscy zakładają, że - jak inni inwestorzy - funkcjonujemy
w harmonogramie menadżera. Przedstawiają więc nas komuś, kogo uważają,
że powinniśmy poznać, albo wysyłają e-mail zapraszający na kawę. W tym
momencie mamy dwie opcje, a żadna z nich nie jest dobra: możemy się z
nimi spotkać i prawdopodobnie stracić pół dnia pracy; albo możemy
próbować uniknąć spotkania z nimi i prawdopodobnie ich obrazić.</p>

<p id="p16">Do niedawna sami nie byliśmy pewni co do źródła tego
problemu. Braliśmy za pewnik to, że musimy albo zepsuć nasz
harmonogram albo obrażać ludzi. Ale teraz, kiedy sobie uświadomiłem,
co się dzieje, możliwe, że istnieje trzecia opcja: napisać coś, co
wyjaśnia dwa typy harmonogramów. Może w końcu, jeśli konflikt pomiędzy
harmonogramem menadżera i harmonogramem twórcy zacznie być szeroko
zrozumiany, będzie mniejszym problemem.</p>

<p id="p17">Ci z nas, którzy funkcjonują w harmonogramie twórcy są
chętni do kompromisu. Wiemy, że musimy mieć jakąś ilość
spotkań. Wszystko, o co prosimy osoby pracujące w ramach harmonogramu
menadżera, to zrozumienie kosztów.</p>

<p id="p18"><strong>Podziękowania</strong> dla: Sam Altman, Trevor Blackwell, Paul
Buchheit, Jessica Livingston, i Robert Morris za czytanie kopii
roboczych tego eseju.</p>

<h3>Powiązane</h3>
<ul>
  <li><a href="http://paulgraham.com/love.html">Jak robić to, co się kocha</a></li>
  <li><a href="http://paulgraham.com/procrastination.html">Dobra i zła prokrastynacja</a></li>
</ul>
