<% @include ../templates/common/standard-essay.html %>
<% (essay :id :writing44) %>

<p id="p1"><em>(Odpowiadając na email przypadkiem napisałem malutki esej na temat
pisania. Zwykle spędzam tygodnie nad esejem. Ten zajął 67 minut -
23 pisania i 44 przepisywania).</em></p>

<p id="p2">Myślę, że umiejętne pisanie jest ważniejsze niż większość ludzi zdaje
sobie z tego sprawę. Pisanie nie tylko komunikuje pomysły; ono je
stwarza. Jeśli jesteś kiepski w pisaniu i nie lubisz tego robić,
przegapisz większość pomysłów, które pisanie by wytworzyło.</p>

<p id="p3">Jeśli chodzi o to, jak pisać dobrze, oto krótka wersja: Napisz złą
wersję 1 tak szybko, jak potrafisz; przepisuj ją raz za razem; wytnij
<del>wszystko</del> co niepotrzebne; pisz w tonie konwersacyjnym; rozwiń nosa
do złego pisarstwa, aby móc zobaczyć i naprawić je w swoich tekstach;
naśladuj pisarzy, których lubisz; jeśli nie możesz zacząć, opowiedz
komuś o czym chcesz pisać, a potem zapisz to co powiedziałeś;
spodziewaj się, że 80% pomysłów w eseju narodzi się po tym, jak
zaczniesz pisać, a 50% tych, z którymi rozpoczynasz pisanie, okaże się
złe; bądź wystarczająco pewny, by ciąć; niech przyjaciele, którym
ufasz czytają to, co piszesz i wskazują Ci, które fragmenty są mylące
albo ciągną się; nie rób (a przynajmniej nie za każdym razem)
szczegółowych szkiców; rozmyślaj nad pomysłami przez kilka dni, zanim
zaczniesz pisać; noś ze sobą mały notes albo kartki papieru; zacznij
pisać, kiedy przyjdzie Ci do głowy pierwsze zdanie; jeśli termin
zmusza Cię, by zacząć wcześniej, po prostu zacznij od napisania
najważniejszego zdania; pisz o rzeczach, które lubisz; nie staraj się
brzmieć imponująco; nie obawiaj się zmieniać tematu w locie; używaj
przypisów by objąć dygresje; używaj anafor <a name="MT_TF1" href="#TF1" class="translator-footnote">T1</a>

aby powiązać ze sobą zdania;

<span class="footnote translator"><a name="TF1" href="#MT_TF1" class="translator-footnote">T1</a> Anafora - środek stylistyczny, będący celowym powtórzeniem tego samego słowa lub zwrotu na początku kolejnych segmentów wypowiedzi. Patrz także, <a href="http://pl.wikipedia.org/wiki/Anafora_(%C5%9Brodek_stylistyczny)">artykuł na Wikipedii</a>. <em>przypis tłumacza</em></span>

czytaj swoje eseje na głos, by zobaczyć (a) gdzie potykasz się
o niezgrabne wyrażenia oraz (b) które fragmenty są nudne (akapity,
których boisz się przeczytać na głos); staraj się powiedzieć
cztytelnikowi coś nowego i użytecznego; pracuj w dużych blokach czasu;
kiedy wracasz do pisania, zacznij od przeczytania tego, co dotąd
napisałeś; kiedy kończysz, zostaw sobie coś, od czego łatwo będzie
później zacząć; zbieraj notatki na temat wątków, które zamierzasz
zawrzeć w eseju na końcu pliku; nie czuj się zmuszonym do omawiania
któregokolwiek z nich; pisz dla czytelnika, który nie będzie czytał
eseju tak uważnie jak Ty, tak jak piosenki pop są projektowane, by
brzmiały dobrze na kiepskich radiach samochodowych; jeśli mówisz coś
błędnego, popraw to natychmiast; pytaj przyjaciół, którego zdania
będziesz najbardziej żałował; wróć i stonuj szorstkie uwagi; publikuj
rzeczy on-line, gdyż odbiorcy sprawiają, że będziesz więcej pisał, a
przez to generował więcej pomysłów; drukuj szkice zamiast tylko
patrzeć na nie na ekranie; używaj prostych, germańskich słów; naucz
się rozróżniać niespodzianki od dygresji; naucz się rozpoznawać
nadejście końca, a gdy taki się pojawi, łap go.
</p>
