<% @include ../templates/common/standard-essay.html %>
<% (essay :id :writing44) %>

<p id="p1"><em>(Odpowiadając na email przypadkiem napisałem mały esej na temat
pisania. Zwykle spędzam tygodnie nad esejem. Ten zajął 67 minut -
23 pisania i 44 przepisywania).</em></p>

<p id="p2">Myślę, że umiejętne pisanie jest ważniejsze niż większość ludzi zdaje sobie z
tego sprawę. Pisanie nie tyle przekazuje pomysły, co je stwarza.
Jeśli jesteś kiepski w pisaniu i nie lubisz tego robić,
przegapisz większość pomysłów, które pisanie by
wytworzyło.</p>

<p id="p3">Jeśli chodzi o to, jak pisać dobrze, oto krótka wersja: Napisz złą
wersję 1 tak szybko, jak potrafisz; przepisuj ją nieprzerwanie; wycinając
niepotrzebne elementy; pisz jakbyś prowadził rozmowę;
zacznij wyczuwać złe rzeczy, aby móc je zobaczyć
i naprawić w swojej pracy; naśladuj pisarzy, których lubisz; jeśli nie
możesz zacząć, opowiedz komuś to, o czym chcesz pisać, a potem zapisz
to co powiedziałeś; spodziewaj się, że 80% pomysłów w eseju narodzi się
po tym, jak zaczniesz pisać, a 50% tych, z którymi rozpoczynałeś
okaże się nietrafne; bądź dość pewny, żeby się ich pozbyć; niech
przyjaciele, którym ufasz czytają to, co piszesz i wskazują Ci, które
fragmenty są zbyt pogmatwane lub przewlekłe; nie rób szczegółowych
szkiców (a przynajmniej nie za każdym razem);
przetraw pomysły przez kilka dni, zanim zaczniesz
pisać; noś ze sobą mały notes albo kartki papieru; zacznij pisać,
kiedy przyjdzie Ci do głowy pierwsze zdanie; jeśli termin zmusza Cię,
by zacząć wcześniej, po prostu wpierw napisz najważniejsze zdanie;
pisz o rzeczach, które lubisz; nie staraj się imponować; nie
obawiaj się zmieniać tematu w trakcie; używaj przypisów do
robienia dygresji; powtarzaj pewne słowa lub zwroty na początku
kolejnych wypowiedzi aby powiązać ze sobą myśli;
czytaj swoje eseje na głos, by zobaczyć (a) gdzie
potykasz się o niezręczne wyrażeniach oraz (b) które
fragmenty są nudne (akapity, które boisz się przeczytać na głos); staraj się
powiedzieć cztytelnikowi coś nowego i użytecznego; pracuj w dużych
przedziałach czasowych; kiedy wracasz do pisania, zacznij od przeczytania tego,
co dotychczas napisałeś; kiedy kończysz, zostaw sobie coś,
od czego łatwo będzie ci rozpocząć; zbieraj notatki na temat wątków, które
zamierzasz zawrzeć pod koniec eseju; nie czuj się jednak zobligowany
do zawierania w eseju któregokolwiek z nich; pisz dla czytelnika, on nie będzie
czytał tego tak uważnie jak Ty, dokładnie tak jak piosenki pop są projektowane po to, by
brzmiały dobrze na kiepskich radiach samochodowych; jeśli mówisz coś
niezgodnego z prawdą, popraw to natychmiast; pytaj przyjaciół, których opinii
obawiasz się najbardziej; wróć i stonuj przykre uwagi; publikuj
rzeczy on-line, gdyż odbiorcy sprawiają, że będziesz więcej pisał, a
za sprawą tego generował więcej pomysłów; drukuj wersje robocze zamiast tylko patrzeć na
nie na ekranie; używaj prostych, germańskich słów; naucz się
rozróżniać niespodzianki od dygresji; naucz się rozpoznawać nadejście
końca, a gdy taki się pojawi, łap go.</p>
