/* main (shared) style for esejepg.pl */

/* variables */
$main-color: #303030;
$emphasis-color: #303030;

$font-stack-serif: georgia, minion, book antiqua, serif;
$font-stack-sansserif: 'Lucida Grande', Verdana, Arial, Sans-Serif;

/* debug */
@mixin debug-bgcolor($color) {
/*    background-color: $color;
    border: 2px red; */
}

/* styles */

/** structure */

body {
    margin: 0px;

    #site {
	@include debug-bgcolor(#11FF11);
	width: 75%;
	margin: 20px auto;
	padding: {
	    left: 20px;
	    right: 20px;
	}

	#titlebar {
	    margin-bottom: 25px;
	    @include debug-bgcolor(#FEE0E0);

	    a {
		text-decoration: none;
	    }
	    
	    h1 {
		font-size: 2.2em;
		.title_a { color: #808080; }
		.title_b { color: orange; }
		.title_c { color: #808080; }
	    }

	    h2 {
		font-size: 1em;
		font-style: italic;
	    }
	}

	#content {
	    width: 75%;
	    @include debug-bgcolor(#E0FEE0);
	    h1 {
		font-size: 2em;
		text-align: center;
	    }
	}

	#sidebar {
	    @include debug-bgcolor(#E0E0FE);

	    width: 25%;
	    float: right;

	    #menu {
		ul { list-style-type: none; }
		li { margin-right: 5px; }
		margin-bottom: 10px;
	    }

	    #social {
		clear: both;
	    }
	}
    }
}

/** typography */
body {
    font-family: $font-stack-sansserif;
}