<% @include ../templates/common/standard-essay.html %>
<% (essay :id :procrastination) %>

<p id="p1">Najbardziej imponujący ludzie, jakich znam, są okropnymi
prokrastynatorami. Czy więc mogłoby tak być, że prokrastynacja nie
jest zawsze zła?</p>

<p id="p2">Większość ludzi, którzy piszą o prokrastynacji, pisze jak ją
wyleczyć. Ale mówiąc wprost, to jest niemożliwe. Jest nieskończona
ilość rzeczy, które mógłbyś robić. Nie ważne nad czym pracujesz, nie
pracujesz nad wszystkim innym. Pytaniem nie jest więc jak uniknąć
prokrastynacji, ale jak dobrze prokrastynować.</p>

<p id="p3">Istnieją trzy warianty prokrastynacji, w zależności od tego, co robisz
zamiast nad czymś pracować: możesz pracować nad (a) niczym, (b) czymś
mniej istotnym, albo (c) czymś bardziej istotnym. Uważam, że ostatni
typ jest dobrą prokrastynacją.</p>

<p id="p4">To jest ten „profesor o nieobecnym umyśle”, który zapomina się ogolić,
jeść, albo nawet patrzeć gdzie idzie, kiedy myśli nad jakimś
interesującym pytaniem. Jego umysł jest nieobecny w codziennym
świecie, ponieważ ciężko pracuje w innym.</p>

<p id="p5">W tym sensie najbardziej imponujący ludzie, jakich znam, są wszyscy
prokrastynatorami. Są prokrastynatorami typu C: odkładają pracę nad
małymi rzeczami, aby pracować nad dużymi.</p>

<p id="p6">Czym są “małe rzeczy”? W przybliżeniu; praca, która ma zerową szansę
na bycie wspomnianą w twoim nekrologu. Ciężko powiedzieć w tym
momencie, co się okaże twoją najlepszą pracą (czy będzie to magnum
opus dotyczące architektury sumeryjskich świątyń, czy thriller
detektywistyczny napisany pod pseudonimem?), ale jest cały zbiór
zadań, które łatwo możesz wykluczyć: golenie się, robienie prania,
sprzątanie domu, pisanie kartek z podziękowaniami – cokolwiek, co może
być nazwane obowiązkami.</p>

<p id="p7">Dobra prokrastynacja to unikanie obowiązków, aby robić prawdziwą
pracę.</p>

<p id="p8">Przynajmniej w pewnym znaczeniu dobra. Ludzie, którzy chcą abyś
wypełniał obowiązki nie będą uważali jej za dobrą. Ale prawdopodobnie
musisz ich drażnić, jeśli chcesz cokolwiek zrobić. Ludzie, który
wydają się być najłagodniejsi, jeśli chcą pracować nad czymś
prawdziwym, wszyscy są w pewnym stopniu bezwzględni, kiedy chodzi o
unikanie obowiązków.</p>

<p id="p9">Niektóre obowiązki, jak odpisywanie na listy, znikają jeśli je
ignorujesz (możliwe, że zabierając ze sobą przyjaciół). Inne jak
koszenie trawy, wypełnianie formularzy podatkowych, stają się tylko
gorsze, jeśli odkładasz je na później. W zasadzie, to nie powinno tak
działać, żebyś odkładał na później obowiązki drugiego typu. W końcu
będziesz musiał to zrobić, cokolwiek to jest. Czemu by nie (jak zawsze
głoszą monity z przypomnieniem o zaległościach) zrobić tego teraz?</p>

<p id="p10">Powodem, dla którego opłaca się odkładać na później te obowiązki, jest
to, że prawdziwa praca potrzebuje dwóch rzeczy, których obowiązki nie
wymagają: wielkich kawałków czasu i odpowiedniego nastroju. Jeśli
zostajesz zainspirowany jakimś projektem, odpuszczenie na kilka dni
wszystkiego co miałeś zrobić by zamiast tego nad nim popracować może
być sumarycznie korzystne. Tak, te obowiązki będą kosztować cię
więcej, kiedy w końcu się za nie zabierzesz. Ale jeśli zrobisz wiele
podczas tych paru dni, sumarycznie będziesz bardziej produktywny.</p>


<p id="p11">Zasadniczo to może nie być różnica w stopniu, ale w rodzaju. Mogą
istnieć typy prac, które da się wykonać tylko w długich,
niezakłócanych odcinkach, kiedy pojawia się inspiracja, zamiast
posłusznie w zaplanowanych małych kawałkach. Empirycznie wydaje się,
że tak jest. Kiedy myślę o ludziach, których znam, którzy dokonali
wspaniałych rzeczy, nie wyobrażam ich sobie posłusznie skreślających
pozycje z listy rzeczy do zrobienia. Wyobrażam sobie ich wymykających
się, żeby pracować nad jakimś nowym pomysłem.</p>

<p id="p12">I odwrotnie, zmuszanie kogoś do wykonywania obowiązków synchronicznie
jest ograniczaniem jego produktywności. Kosztem zakłócania pracy nie
jest tylko czas, który to zajmuje, ale to, że dzieli to czas po obu
stronach na pół. Prawdopodobnie musisz przeszkodzić komuś tylko parę
razy w ciągu dnia, zanim stanie się on zupełnie niezdolny do pracy nad
trudnymi problemami.</p>

<p id="p13">Dużo się zastanawiałem nad tym
dlaczego <a href="http://paulgraham.com/start.html">startupy</a> są
najbardziej produktywne na samym początku, kiedy składają się tylko z
paru facetów na mieszkaniu. Głównym powodem może być to, że nikt im
wtedy jeszcze nie przeszkadza. W teorii dobrze jest, kiedy założyciele
w końcu zdobędą wystarczająco pieniędzy, aby móc zatrudnić ludzi, żeby
robili część pracy za nich. Ale może lepiej być przepracowanym niż
zakłócanym. Kiedy już osłabisz startup za pomocą zwyczajnych
pracowników biurowych – prokrastynatorów typu B – cała firma zaczyna
rezonować na ich częstotliwości. Są napędzani przez zakłócenia, i
szybko to samo dzieje się z tobą.</p>

<p id="p14">Obowiązki są tak efektywne w zabijaniu świetnych projektów, że wielu
ludzi używa ich dla tego celu. Na przykład ktoś, kto zdecydował, że
chce napisać powieść nagle odkryje, że dom wymaga sprzątania. Osoby,
którym nie udaje się napisać powieści nie doznają porażki przez
siedzenie całymi dniami przed pustymi stronami bez napisania
czegokolwiek. Robią to, dlatego, że karmią kota, idą kupić coś, co
potrzebują do mieszkania, spotykając się na kawie z przyjacielem,
sprawdzają pocztę. „Nie mam czasu pracować” – mówią.  I nie mają;
dobrze o to zadbali.</p>

<p id="p15">(Jest także wariant, kiedy ktoś nie ma gdzie pracować. Lekarstwem jest
odwiedzanie miejsc, gdzie pracowali sławni ludzie i zobaczenie jak im
było niewygodnie.)</p>

<p id="p16">Używałem tych wymówek tego czy innego razu. Nauczyłem się wielu trików
na zapędzanie się do pracy przez ostatnie 20 lat, ale nawet teraz nie
zawsze wygrywam. W niektóre dni, wykonuję prawdziwą pracę. Inne dni są
zjadane przez obowiązki. I wiem, że to przeważnie moja wina: <em>pozwalam</em>
obowiązkom zjadać dzień, żeby uniknąć konfrontacji z ciężkim
problemem.</p>

<p id="p17">Najniebezpieczniejszą formą prokrastynacji, jest nieuświadomiona
prokrastynacja typu B, ponieważ nie wydaje się prokrastynacją. „Robisz
rzeczy”; po prostu nie te, co trzeba.</p>

<p id="p18">Jakakolwiek rada odnośnie prokrastynacji, która koncentruje się na
skreślaniu spraw z listy rzeczy do zrobienia jest nie tylko
niekompletna, ale stanowczo wprowadza w błąd, jeśli nie rozważa
możliwości, że lista rzeczy do zrobienia jest sama w sobie formą
prokrastynacji typu B. W zasadzie, możliwość jest za słabym
słowem. Praktycznie u każdego taka lista nią jest. Jeśli nie pracujesz
nad największymi rzeczami, nad którymi mógłbyś pracować, jesteś
prokrastynatorem typu B, niezależnie od tego ile uda ci się zrobić.</p>

<p id="p19">W swoim sławnym
eseju <a href="http://paulgraham.com/hamming.html">„Ty i Twoje
Badania”</a> (który polecam każdej ambitnej osobie, bez względu nad
czym teraz pracuje), Richard Hamming sugeruje, żeby zadać sobie trzy
pytania:

<ol>
<li><p id="p19.1">Jakie są najważniejsze problemy w twojej dziedzinie?</p></li>
<li><p id="p19.2">Czy pracujesz nad jednym z nich?</p></li>
<li><p id="p19.3">Dlaczego nie?</p></li>
</ol>
</p>
<p id="p20">Hamming był w Bell Labs, kiedy zaczął zadawać takie pytania. W
zasadzie tam każdy powinien być w stanie pracować nad najważniejszymi
problemami w swojej dziedzinie. Możliwe, ze nie każdy może zostawić
równie dramatyczny ślad na świecie; nie wiem; ale jakiekolwiek są
twoje możliwości, są projekty, które je rozciągają. Ćwiczenie
Hamminga może być więc zgeneralizowane do:

<blockquote>Jaka jest najlepsza rzecz nad którą mógłbyś pracować i
dlaczego tego nie robisz?</blockquote>
</p>

<p id="p21">Większość ludzi będzie próbowała umknąć przed tym pytaniem. Sam przed
nim uciekam; widzę je na tej stronie i szybko przesuwam się do
kolejnego zdania. Hamming zwykł przechadzać się i zadawać ludziom to
pytanie, i to nie uczyniło go popularnym. Ale to jest pytanie, z
którym każda ambitna osoba powinna się zmierzyć.</p>

<p id="p22">Problemem jest, że możesz skończyć łapiąc wielką rybę na tą
przynętę. Żeby wykonywać dobrą pracę musisz robić więcej niż tylko
znajdywać dobre projekty. Kiedy już je znajdziesz, musisz zmusić się
do pracy nad nimi i to może być ciężkie. Im większy jest problem, tym
ciężej jest zmusić się do pracy nad nim.</p>

<p id="p23">Oczywiście, głównym powodem, dla którego ludzie dochodzą do wniosku,
że ciężko jest pracować nad konkretnym problemem, jest to, że nie
sprawia im to <a href="/eseje/hs.html">przyjemności</a>. Szczególnie kiedy jesteś młody, często
odkrywasz, że pracujesz nad rzeczami, których tak na prawdę nie lubisz
– ponieważ to wydaje się imponujące, na przykład, albo zostałeś
przypisany do pracy nad tym. Większość absolwentów studiów I stopnia
są w potrzasku pracując nad wielkimi problemami, których tak na prawdę
nie lubią, i dlatego studia I stopnia są synonimem prokrastynacji.</p>

<p id="p24">Ale nawet kiedy lubisz to, nad czym pracujesz, łatwiej jest zmusić się
do pracowania nad małymi problemami niż nad tymi większymi. Dlaczego?
Dlaczego tak trudno jest pracować nad dużymi problemami? Jednym z
powodów może być to, że nie zostaniesz wynagrodzony w przewidywanej
przyszłości.  Jeśli pracujesz nad czymś, co możesz skończyć w dzień
czy dwa, możesz oczekiwać miłego uczucia osiągnięcia czegoś całkiem
szybko. Jeśli nagroda jest nieokreślenie daleko w przyszłości, to
wydaje się mniej realne.</p>

<p id="p25">Kolejnym powodem dla którego ludzie nie pracują nad wielkimi
projektami jest, ironicznie, lęk przed stratą czasu. Co jeśli im się
nie uda? Wtedy cały czas, który nad tym spędzili zostanie
zmarnowany. (W zasadzie, prawdopodobnie nie będzie, ponieważ praca nad
ciężkimi problemami prawie zawsze dokądś prowadzi.)</p>

<p id="p26">Ale kłopot z dużymi problemami nie jest tylko taki, że nie obiecują
one natychmiastowej nagrody albo, że mogą spowodować, iż stracisz
mnóstwo czasu. Gdyby to było wszystko, nie byłyby gorsze niż
odwiedzanie swoich teściów. Jest w tym coś więcej. Wielkie problemy są
<em>przerażające</em>. Konfrontacja z nimi sprawia niemal fizyczny
ból. Przypomina to odkurzacz przyssany do twojej wyobraźni. Wszystkie
twoje początkowe pomysły zostają natychmiastowo wyssane i nie masz już
żadnych, a mimo tego odkurzacz wciąż ssie.</p>

<p id="p27">Nie możesz patrzeć dużym problemom w oczy zbyt bezpośrednio. Musisz
podejść do nich nieco ukośnie. Ale musisz przybrać odpowiedni kąt:
musisz zmierzyć się z wielkim problemem na tyle bezpośrednio, żeby
złapać trochę podekscytowania promieniującego z niego, ale nie tyle,
żeby cię sparaliżował. Możesz zawężać kąt, kiedy już rozpoczniesz
pracę, tak jak żeglarz może żeglować bliżej wiatru, kiedy już zacznie
płynąć.</p>

<p id="p28">Jeśli chcesz pracować nad dużymi rzeczami, musisz za pomocą triku
wkręcić się w robienie tego. Musisz pracować nad małymi rzeczami,
które mogą zmienić się w duże, albo pracować nad sukcesywnie większymi
rzeczami, albo podzielić moralne obciążenie ze
współpracownikami. Poleganie na takich trikach nie jest oznaką
słabości. Najlepsza praca została dokonana w taki sposób.</p>

<p id="p29">Kiedy rozmawiam z ludźmi, którym udało się sprawić, że zaczęli
pracować nad dużymi rzeczami, okazuje się, że wszyscy olewają
obowiązki i czują się z tego powodu winni. Nie uważam, że powinni czuć
się winni z tego powodu. Jest więcej rzeczy do zrobienia niż
ktokolwiek mógłby zrobić. Dla kogoś, ktoś wykonuje najlepszą pracę,
niewywiązanie się z wielu obowiązków jest nieuniknione. Złe
samopoczucie z tego powodu wydaje się błędem.</p>

<p id="p30">Myślę, ze sposobem na „rozwiązanie” problemu prokrastynacji jest
pozwolenie rozkoszy na pociąganie cię, zamiast zmuszanie listy rzeczy
do zrobienia do popychania cię. Pracuj nad ambitnym projektem, który
sprawia ci prawdziwą przyjemność i żegluj tak blisko wiatru jak tylko
możesz, a odpowiednie rzeczy pozostawisz niewykonane.</p>


<p id="p31"><strong>Podziękowania dla</strong>: Trevor Blackwell, Jessica Livingston i Robert Morris
za czytanie wersji roboczych tego eseju.</p>
