body {
    width: 560px;
    padding: 1.5em 25px 1.5em 70px;
}

h1 { 
}

#content {
    h1 {
	font-size: 26px;
	text-align: center;
	margin-bottom: 15px;
	line-height: 26px;
    }

    h3 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 3px;
    }
    .paragraph-link {
        text-decoration: none;
    }

    p {

    }

    font-size: 14px;
    line-height: 20px;

    .essay-detailed-entry {
	font-size: 11px;
	margin-top: 5px;
	margin-bottom: 20px;
	text-align: center;
	line-height: 12px;
	span {
	    margin-bottom: 2px;
	}
    }

    .paragraph-link {
	position: absolute;
	left: 60px;
	color: #FFFFFF;
    }

    .footnote {
	position: absolute;
	left: 660px;
	width: 300px;
	font-size: 12px;
	line-height: 14px;
	padding-left: 10px;
	text-align: justify;
    }

    a.footnote-link {
	vertical-align: super;
	font-size: 70%;
    }

    ul, ol {
	padding: 0;
	margin: 0 0 10px 25px;
    }
} 
#discussion {
    h2 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
    } 
}

#social {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    #wykop-container {
	display: inline;
    }
}