.essay-list-entry {
    .disabled {
	color: #888888;
    }
    h2.essay-title {
	font-size: 1.2em;
    }
    span {
        font-size: 0.8em;
	font-style: italic;
    }

    .description {
	font-style: normal;
	font-size: 0.9em;
    }

    margin-bottom: 10px;
}

#content {
    width: 75%;

    h1 {
	font-size: 2em;
	text-align: center;
    }
}