<% (defparameter title "Eseje Paula Grahama w języku polskim") %>
<% @include ../templates/common/standard-essay-item.html %>

<div id="essay-list">
  <h2>Eseje</h2>
  <%# TODO uzupełnić listę #%>

  <ul>
    <%# thank you, Theerasak Photha (http://www.thelinuxlink.net/pipermail/lvlug/2007-January/017213.html), for this looping construct #%>
    <% (loop for (key descr) on (getf env :essays) by #'cddr do (progn %><li><% (essay :id key)) %></li><% )) %> <%# progn, loop #%>
  </ul>
</div>
