<% (defparameter title "Informacje o serwisie") %>
<% (defparameter description "Czym jest serwis esejepg.pl i dlaczego powstał?") %>
<div id="about">
  <h1>O serwisie</h1>

  <p><span class="title_a">eseje</span><span class="title_b">pg</span><span class="title_c">.pl</span> to portal, którego celem jest zamieszczanie
  przetłumaczonych na język polski
  <a href="http://paulgraham.com/articles.html">esejów Paula Grahama</a>.
  </p>
  <h2>Eseje</h2>
  <p>Paul Graham
  jest <a href="http://images.businessweek.com/ss/08/09/0929_most_influential/7.htm">znaną
  postacią</a> Doliny Krzemowej, a jego eseje mają bardzo duży wpływ
  na tamtejszą kulturę startupową, oraz na programistów i
  przedsiębiorców z całego świata.</p>

  <p>Ponieważ my sami bardzo skorzystaliśmy z lektury tych esejów i
  uważamy, że polscy programiści, przedsiębiorcy oraz przyszli twórcy
  mogą również odnieść z nich pożytek, postanowiliśmy przetłumaczyć
  jak największą ich ilość na język polski. Mamy nadzieję, że dzięki
  temu myśli zawarte w tekstach Paula Grahama staną się szerzej
  dyskutowane także w rodzimych kręgach.</p>

  <h2>Zespół</h2>
  <p><strong>Joanna Kmiecik</strong> - Naczelny tłumacz serwisu,
  samodzielnie przetłumaczyła większość obecnie opublikowanych
  esejów. Na codzień uczennica V-tego Liceum Ogólnokształcącego w
  Krakowie.</p>

  <p><strong>Jacek "TeMPOraL" Złydach</strong> - Renesansowy humanista, znany
  także jako technik-romantyk. Chciałby naprawić świat, jedną linią
  kodu na raz. Esejom Paula Grahama zawdzięcza odkrycie Lispa, co
  doprowadziło do wywrócenia całej jego kariery programistycznej do
  góry nogami. Prowadzi
  też <a href="http://temporal.pr0.pl/devblog/">devBloga</a>.</p>

  <p>Chcesz się tu z nami znaleźć? <a href="/strony/pomoz-z-tlumaczeniem.html">Pomóż nam tłumaczyć kolejne eseje</a>!</p>

  <h2>Kontakt</h2>
  <p><a href="temporal.pl+esejepg@gmail.com">Napisz do nas!</a></p>

  <h2>Serwis</h2>
  <p>Opis technologiczny działania serwisu dla zainteresowanych pojawi się wkrótce :).</p>
</div>
