<% (defparameter title "Paul Graham") %>
<% (defparameter description "Kim jest Paul Graham i dlaczego warto czytać jego eseje?") %>
<div id="pg-bio">
  <h1>Paul Graham</h1>

  <div id="pg-photo"><img src="/img/pg.jpg" alt="Paul Graham" width="200px" /></div>

  <p>Paul Graham jest programistą, pisarzem i inwestorem. W 1995 razem z
  Robertem Morrisem założyli Viaweb, pierwszą firmę typu
  <a href="http://pl.wikipedia.org/wiki/Software_as_a_Service">"oprogramowanie jako usługa"</a>. Viaweb została kupiona przez <a href="http://docs.yahoo.com/docs/pr/release184.html">Yahoo</a> w
  1998 roku, gdzie została przekształcona Yahoo Store. W 2001 zaczął publikować
  eseje na stronie <a href="http://paulgraham.com/">paulgraham.com</a>, która w 2011 roku osiągnęła 17
  milionów odwiedzin. W 2005 roku razem z Jessicą Livingston, Robertem
  Morrisem i Trevorem Blackwellem wystartowali <a href="http://ycombinator.com/">Y Combinator</a>, pierwszy
  z nowego typu inkubatorów startupów. Od 2005 roku Y Combinator
  ufundował ponad 450 startupów, w tym Dropbox, Airbnb, Stripe i
  Reddit.</p>

  <p>Paul jest autorem książki <a href="http://www.amazon.com/exec/obidos/ISBN=0130305529">On Lisp</a> (Prentice Hall, 1993), ANSI Common
  Lisp (Prentice Hall, 1995) oraz <a href="http://www.amazon.com/exec/obidos/ISBN=0596006624">Hackers &amp; Painters</a> (O'Reilly,
  2004, wydana także po polsku jako <a href="http://helion.pl/ksiazki/hakerzy-i-malarze-wielkie-idee-ery-komputerow-paul-graham,hakmal.htm">"Hakerzy i malarze"</a>). Posiada licencjat <em>(<a href="http://pl.wikipedia.org/wiki/Bakalaureat">Bachelor of Arts</a>)</em> z Cornell oraz doktorat z
  informatyki z Harvardu, oraz studiował malarstwo na RISD oraz na
  Accademia di Belle Arti we Florencji.</p>

  <p class="smaller">Na podstawie <a href="http://paulgraham.com/bio.html">oficjalnej biografii</a>. </p>
  <p class="smaller">Zdjęcie autorstwa Dave Thomasa, udostępnione na licencji Creative Commons - Uznanie Autorstwa.</p>
</div>
